html{
    font-size: 100%;
}


/* Type Selectors and Pseudo-classes*/
p{
    color: olive;
    font-size: 26px;
}

header{
    background-color: orange;
    width: 80%;
}

header p{
    background-color: snow;
    border-bottom: 1px solid gray;
}

footer{
    background-color: lightcoral;
}

h1{
    font-size: 4rem;
    margin-bottom: 1.5rem;
}

a:link{
    color: darkblue;
    background-color: peachpuff;
    text-decoration: none;
}

a:visited{
    color: seagreen;
}

a:hover{
    text-decoration: underline;
}

a:focus{
    color: white;
    background-color: orange;
}

li{
    letter-spacing: 3px;
    color: tomato;
}

ol li:first-child{
    font-weight: bold;
}


/* ID and Class Selectors */
#education{
    border: 3px solid red;
}

#education h3{
    font-family: arial, sans-serif;
    font-size: 32px;
}

#skills-list{
    background-color: aliceblue;
    padding: 36px;  
}

.top-skills{
    font-weight: bold;
    background-color: teal;
    color: papayawhip;
}

.date{
    border: 2px solid steelblue;
    border-radius: 12px;
    padding: 6px;
}

.special{
    text-transform: uppercase;
    background-color: papayawhip;
}

#proud{
    font-size: 48px;
}